language: php
sudo: false

matrix:
  fast_finish: true
  include:
    - php: "7.0"
    - php: "7.1"
    - php: "nightly"
  allow_failures:
    - php: "nightly"

install:
    - composer self-update
    - composer update

script:
    - vendor/bin/phpunit
    - php -dmbstring.func_overload=7 vendor/bin/phpunit
    - vendor/bin/psalm
